<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=DotGothic16&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="./style.css">
  <title>Resume</title>
</head>
<body>
  <main class='paper'>
    <div class='entering-composition'>
      <div class="title">
        <h1 class='name'>/Volchinskiy Maxim</h1>
        <h2 class='position'>Fullstack React Node.js Develope</h2>
      </div>
      <div class="body">
        <div class="left-side">
          
          <div class="info-block">
            <div class="subtitle">/Summary:</div>
            <div class="text">I develop applications on React and Node.js using TypeScript.</div>
          </div>

          <div class="info-block">
            <div class="subtitle">/Work Experience:</div>
            <div class="text">
              <p>The total number of 10 months.</p>
              <br>
              <p>
                Company: <span class="grayBackground">We Are Future</span> <span class="grayWords">05/2022 - 09/2022</span><br>
                <span class="grayBackground">1)</span> Took an active part in the development of an online store of clothing and accessories. <br>
                <span class="grayBackground">2)</span> Worked in a team of 15 people, developed pages for the store's admin panel from scratch. <br>
                <span class="grayBackground">3)</span> Improved search for products and orders. <br>
                <span class="grayBackground">4)</span> Wrote a script to remove products from a specific supplier (more than 24,000 products). <br>
                <span class="grayBackground">5)</span> Helped new team members run the project and cope with common mistakes. <br>
                <span class="grayBackground">6)</span> Fixed bugs. <br>
                <span class="grayBackground">7)</span> Mastered Next, Redux-Saga, Material UI, Nest, TypeORM, PostgreSQL. <br>
              </p>
              <br>
              <p>
                <span class="grayBackground">Freelance</span> <span class="grayWords">12/2021 - 05/2022</span><br>
                <span class="grayBackground">1)</span> Make layout for small business (Zoo store, Tattoo Master Portfolios, etc.) <br>
                <span class="grayBackground">2)</span> Transfer layout to React components. <br>
                <span class="grayBackground">3)</span> In total, I completed 9 orders related to layout, React and pure Js. <br>
              </p>
            </div>
          </div>

          <div class="info-block">
            <div class="subtitle">/Another Work Experience:</div>
            <div class="text">
              <p>
                <span class="grayBackground">Metarhia</span> (OPEN SOURCE) <br>
                <span class="grayBackground">1)</span> Сontributed to the development of the Metaserverless/Console browser IDE. <br>
                <span class="grayBackground">2)</span> Developed a CRUD system for PostgreSQL, which is defined through a JSON description. <br>
                <span class="grayBackground">3)</span> Helped new team members (contributors) to run the project. <br>
                <span class="grayBackground">4)</span> Wrote the main part of the manual "Installation and running on a local machine". <br>
              </p>
            </div>
          </div>

          <div class="info-block">
            <div class="subtitle">/Education:</div>
            <div class="text">
              <dl>
                <dt><span class="grayBackground">1)</span> Timur Shemsedinov - How Programming Works (in progress).</dt>
                  <dd>Сourse from a KPI teacher about the fundamentals of programming.</dd>

                <dt><span class="grayBackground">2)</span> webDev - Frontend Interview Questions (in progress).</dt>
                  <dd>Сourse about questions that asked on frontend interview.</dd>

                <dt><span class="grayBackground">3)</span> angular.io (in progress).</dt>
                  <dd>Angular documentation.</dd>

                <dt><span class="grayBackground">4)</span> Vladilen Minin - Angular (in progress).</dt>
                  <dd>Сourse about developing angular applications.</dd>

                <dt><span class="grayBackground">5)</span> Ave Coder - PostgreSQL for beginners.</dt>
                  <dd>Сourse about the fundamentals of PostgreSQL.</dd>

                <dt><span class="grayBackground">6)</span> webDew - Redux-saga.</dt>
                  <dd>Сourse about middleware for Redux.</dd>

                <dt><span class="grayBackground">7)</span> CSG camp.</dt>
                  <dd>Two weeks camp from the company CSG where I developed a fullstack application on React-Native and Express.</dd>

                <dt><span class="grayBackground">8)</span> Archakov Blog - React Pizza.</dt>
                  <dd>Course about React, Redux app development.</dd>

                <dt><span class="grayBackground">9)</span> reactjs.org</dt>
                  <dd>React documentation.</dd>

                <dt><span class="grayBackground">10)</span> learn.javascript.ru</dt>
                  <dd>Resource that have an introduction to Js.</dd>

                <dt><span class="grayBackground">11)</span> BrainsCloud - layout for beginners.</dt>
                  <dd>Course about 'How to make layout?'.</dd>

                <dt><span class="grayBackground">12)</span> htmlbook.ru</dt>
                  <dd>Resource that I learn HTML, CSS.</dd>

                <dt><span class="grayBackground">13)</span> Alexander Bebris - Golden Playlist.</dt>
                  <dd>Course that I learned English A0 - A2.</dd>

                <dt><span class="grayBackground">14)</span> HTML Academy - Introduction to HTML.</dt>
                  <dd>Course that covers the very basics of development.</dd>
              </dl>
            </div>
          </div>

          <div class="info-block">
            <div class="subtitle">/About Me:</div>
            <div class="text">
              <p>In development, I like that I can create, something, which can bring practical benefits to a large number of people.</p>
              <br>
              <p>Before development, I did tattoos and drew a lot. Therefore, I pay a lot of attention to trifles, especially to what is relate with the visual part of the application. Pixel Perfect is about me.</p>
              <br>
              <p>In my free time I like doing sports, watching some videos about travelling and improving my English.</p>
             </div>
          </div>

        </div>
        <div class="right-side">
          <div></div>

          <div class="info-block">
            <div class="subtitle">/Technical Skills:</div>
            <div class="text">React</div>
            <div class="text">Redux</div>
            <div class="text">Redux-Saga</div>
            <div class="text">Next</div>
            <div class="text">React-Hooks</div>
            <div class="text">React-Router</div>
            <div class="text">JointJs</div>
            <div class="text">Formik</div>
            <div class="text">Axios</div>
            <div class="text">Js</div>
            <div class="text">TypeScript</div>
            <div class="text">SQL</div>
            <div class="text">HTML</div>
            <div class="text">HTML5</div>
            <div class="text">CSS</div>
            <div class="text">CSS3</div>
            <div class="text">SCSS</div>
            <div class="text">SASS</div>
            <div class="text">Material UI</div>
            <div class="text">Git</div>
            <div class="text">Node.js</div>
            <div class="text">Express</div>
            <div class="text">Nest</div>
            <div class="text">TypeORM</div>
            <div class="text">MongoDB</div>
            <div class="text">PostgreSQL</div>
          </div>

          <div class="info-block">
            <div class="subtitle">/Projects:</div>
            <div class="text">
              <dl>
                <dt>https://buy-all.store/</dt>
                  <dd class="mb15">Store of clothing and accessories.</dd>

                <dt>https://github.com/Volchinskiy/RESUME-GENERATOR</dt>
                  <dd class="mb15">App that helps fast generate Resume (this resume generated thanks to the app).</dd>

                <dt>https://github.com/Volchinskiy/SELF-EDUCATION-APP-PET-PROJECT</dt>
                  <dd>App that helps me remember hard technical information.</dd>
            </div>
          </div>

          <div class="info-block">
            <div class="subtitle">/Contacts:</div>
            <div class="text">Volchinskiy Maxim Vladislavovich</div>
            <div class="text">GitHub: https://github.com/Volchinskiy</div>
            <div class="text">Phone Number: +380 99 408 58 86</div>
            <div class="text">Kyiv</div>
          </div>

          <div class="info-block">
            <div class="subtitle">/Languages:</div>
            <div class="text">English: A2+.</div>
            <div class="text">Russian: Native.</div>
            <div class="text">Ukrainian: Native.</div>
          </div>

          <div class="info-block">
            <div class="subtitle">/Salary Expectations:</div>
            <div class="text">600 USD.</div>
          </div>

        </div>
      </div>
    </div>
  </main>
</body>
</html>