<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=DotGothic16&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="./style.css">
  <title>Resume</title>
</head>
<body>
  <main class='paper'>
    <div class='entering-composition'>
      <div class="title">
        <h1 class='name'>-= Volchinskiy Maxim =-</h1>
        <h2 class='position'>Fullstack React Node.js Develope</h2>
      </div>
      <div class="body">
        <div class="left-side">
          
          <div class="info-block">
            <div class="subtitle">Summary:</div>
            <div class="text">I develop applications on React and Node.js using TypeScript.</div>
          </div>

          <div class="info-block">
            <div class="subtitle">Work Experience:</div>
            <div class="text">
              <p>The total number of 5 months.</p>
              <br>
              <p>
                We Are Future 03/2022 - 07/2022 <br>
                1) Took an active part in the development of an online store of clothing and accessories. <br>
                2) Worked in a team of 15 people, developed pages for the store's admin panel from scratch. <br>
                3) Improved search for products and orders. <br>
                4) Wrote a script to remove products from a specific supplier (more than 24,000 products). <br>
                5) Helped new team members run the project and cope with common mistakes. <br>
                6) Fixed bugs. <br>
                7) Mastered Next, Redux-Saga, Material UI, Nest, TypeORM, PostgreSQL. <br>
              </p>
              <br>
              <p>
                Freelance 12/2021 - 03/2022 <br>
                1) Make layout for small business (Zoo store, Tattoo Master Portfolios, etc.) <br>
                2) Transfer layout to React components. <br>
                3) In total, I completed 9 orders related to layout, React and pure Js. <br>
              </p>
            </div>
          </div>

          <div class="info-block">
            <div class="subtitle">Another Work Experience:</div>
            <div class="text">
              <p>
                Metarhia (open source) 07/2022 - Now. <br>
                1) I am developing a Metaserverless/Console browser IDE. <br>
                2) Developed a CRUD system for PostgreSQL, which is defined through a JSON description. <br>
                3) Helped new team members (contributors) to run the project. <br>
                4) Wrote the main part of the manual "Installation and running on a local machine". <br>
              </p>
            </div>
          </div>

          <div class="info-block">
            <div class="subtitle">Education:</div>
            <div class="text">
              <dl>
                <dt>1) Timur Shemsedinov - How Programming Works (in progress)</dt>
                  <dd>Сourse from a KPI teacher on the fundamentals of programming.</dd>
                <dt>2) webDev - Frontend Interview Questions (in progress)</dt>
                  <dd>Сourse about questions that asked on frontend interview.</dd>
                <dt>3) angular.io (in progress)</dt>
                  <dd>Angular Documentation.</dd>
                <dt>4) Владилен Минин - Angular (in progress)</dt>
                  <dd>Сourse about developing angular applications.</dd>
                <dt>5)</dt>
                  <dd></dd>
                <dt>6)</dt>
                  <dd></dd>
                <dt>7)</dt>
                  <dd></dd>
                <dt>8)</dt>
                  <dd></dd>
                <dt>9)</dt>
                  <dd></dd>
              </dl>
            </div>
          </div>

          <div class="info-block">
            <div class="subtitle">About me:</div>
            <div class="text">
              <p>In development, I like that I can create, something, which can bring practical benefits to a large number of people.</p>
              <br>
              <p>Before development, I did tattoos and drew a lot. Therefore, I pay a lot of attention to trifles, especially to what is relate with the visual part of the application. Pixel Perfect is about me.</p>
              <br>
              <p>In my free time I like doing sports, watching some videos about travelling and improving my English.</p>
             </div>
          </div>

          <div class="info-block">
            <div class="subtitle">Salary expectations:</div>
            <div class="text">600 USD </div>
          </div>

        </div>
        <div class="right-side">
          <div>Technical skills:</div>
          <div>Contacts:</div>
          <div>Languages:</div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>