html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


@font-face {
  font-family: Matricha;
  src: url('./../font/Matricha.ttf') format('truetype');
}

* {
  font-size: 50px;
  font-family: 'Matricha';
  font-weight: 600;
  box-sizing: border-box;
}

body { 
  height: 4000px;
  margin: 0; 
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

.paper {
  width: 2480px;  /* a4 in pixels */
  height: 3508px;
  background-color: #fff;
}

.entering-composition{
  width: 100%;
  height: 100%;
  padding: 90px 90px 180px 90px;
}

.title{
  height: 10%;
}

.name {
  width: fit-content;
  margin-bottom: 50px;
  font-size: 130px;
  color: #fff;
  background-color: #000;
}

.position {
  width: fit-content;
  font-size: 80px;
  font-weight: 100;
}

.body{
  height: 90%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(90,90,90,0.2); */
  border: 10px #000;
  border-style: dashed;
}

.info-block{
  margin-bottom: 20px;
}

.subtitle{
  margin-bottom: 10px;
  font-size: 50px;
  color: #fff;
  background-color: #000;
}

.text{
  padding-left: 30px;
  font-size: 38px;
}

.left-side{
  width: 64%;
  height: 100%;
  /* background-color: rgba(220,90,90,0.2); */
}

.right-side{
  width: 34%;
  height: 100%;
  /* background-color: rgba(90,220,90,0.2); */
}

dd{
  padding-left: 20px;
  font-size: 30px;
  color: rgb(100, 100, 100);
}

.grayBackground{
  background-color: rgb(100, 100, 100);
  color: #fff;
}

.grayWords{
  color: rgb(100, 100, 100);
}

.mb15{
  margin-bottom: 15px;
}